@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800&family=Libre+Baskerville:wght@400;700&family=Quicksand:wght@500;600&family=Raleway:wght@200;400;800;900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  overflow: hidden;
}

#page {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
}
#page > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 7vh;
  width: 70vw;
  background-color: #000000;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}
#page>nav>h1{
    font-size: 400;
    color: #fff;
}

#page>video{
    height: 100%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#page>nav>button{
    padding: 6px 20px;
    border-radius: 50px;
    border: none;
    font-size: 100;
    background-color: #fff;
}
#page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

