@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800&family=Libre+Baskerville:wght@400;700&family=Quicksand:wght@500;600&family=Raleway:wght@200;400;800;900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  overflow: hidden;
}

#page {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
}
#page > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 7vh;
  width: 70vw;
  /* background-color: #000000; */
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}
#page > nav > h1 {
  font-size: 400;
  color: #fff;
}

#page > video {
  height: 100%;
  width: 50%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#page > nav > button {
  padding: 6px 20px;
  border-radius: 50px;
  border: none;
  font-size: 100;
  background-color: #fff;
  cursor: pointer;
}
#page-bottom {
  height: 20%;
  width: 25%;
  /* background-color: green; */
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#page-bottom > h3 {
  font-weight: 400;
  color: #ffffff62;
  margin-bottom: 1vw;
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

#page1 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page1 > h1 {
  font-size: 4vw;
  color: #fff;
  font-weight: 400;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

#page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#page2 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page2 > h1 {
  font-size: 4vw;
  color: #fff;
  font-weight: 400;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
}

#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

#page3 > img {
  width: 80%; /* You can adjust the percentage to make it smaller or larger */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#page3-upper {
  height: 25%;
  width: 35%;
  position: absolute;
  z-index: 9;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
}

#page3-upper > img {
  position: absolute;
  width: 70%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

#page3-upper-inner {
  position: absolute;
  bottom: 0%;
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  color: #ff5a00;
}

#page3-upper-inner > h3 {
  font-weight: 600;
  font-size: medium;
}

#page3-upper-inner-down {
  position: absolute;
  /* top: 10%; */
  bottom: -15%;
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 70px;
  color: #86868b;
}

#page3-upper-inner-down > h3 {
  font-weight: 600;
  font-size: medium;
}

#page3 > button {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: 1px solid #000;
  font-weight: 500;
  background-color: #fff;
  border-radius: 50px;
  font-size: larger;
  cursor: pointer;
}

#page4 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#page4 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#center-page4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 2vw;
}

#page5 {
  display: flex;
  position: relative;
  height: 60vh;
  width: 100vw;
}

.left5 {
  position: relative;
  height: 100%;
  width: 50%;
}

.left5 > h1 {
  position: relative;
  font-size: 2.5vw;
  left: 80%;
  transform: translateX(-50%);
  top: 15%;
}

.right5 {
  display: flex;
  align-self: start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;

  padding-left: 5vw;
}

.right5 > h3 {
  margin-left: -10%;
  margin-top: 7%;
  font-size: 1.5vw;
  width: 80%;
  color: #00000075;
}

.right5 > button {
  width: 50%;
  padding: 10px 20px;
  margin-left: -10%;
  border: none;
  background-color: #ff5a00;
  color: #fff;
  font-weight: 400;
  border-radius: 50px;
  font-size: larger;
  margin-top: 1.5vw;
  cursor: pointer;
}
#page6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 70vh;
  width: 100vw;
  background-color: #f5f5f7;
}
#page6 > h3 {
  margin-bottom: 1vw;
  font-size: 2vw;
}
#page6 > h1 {
  margin-bottom: 1vw;
  font-size: 4vw;
}

#page6 > p {
  font-size: 1.2vw;
  width: 40%;
  font-weight: 500;
  color: #86868b;
}

#page7 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f7;
}

#page7 > canvas {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 99;
}

#page8 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f7;
}
#page8 > h1 > span {
  color: black;
}
#page8 > h1 {
  width: 20%;
  top: 40%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 1.5vw;
  font-weight: 500;
  color: #86868b;
  z-index: 99;
  position: absolute;
}
#page9 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f7;
}
#page9 > h1 > span {
  color: black;
}
#page9 > h1 {
  width: 20%;
  top: 40%;
  transform: translateY(-50%);
  right: 5%;
  font-size: 1.5vw;
  font-weight: 500;
  color: #86868b;
  z-index: 99;
  position: absolute;
}
#page10 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f7;
}
#page10 > h1 > span {
  color: black;
}
#page10 > h1 {
  width: 20%;
  top: 40%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 1.5vw;
  font-weight: 500;
  color: #86868b;
  z-index: 99;
  position: absolute;
}
#page11 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f7;
}
#page11 > h1 > span {
  color: black;
}
#page11 > h1 {
  width: 20%;
  top: 40%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 1.5vw;
  font-weight: 500;
  color: #86868b;
  z-index: 99;
  position: absolute;
}
#page12 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f7;
}
#page12 > h1 > span {
  color: black;
}
#page12 > h1 {
  width: 20%;
  top: 40%;
  transform: translateY(-50%);
  right: 5%;
  font-size: 1.5vw;
  font-weight: 500;
  color: #86868b;
  z-index: 99;
  position: absolute;
}
#page13 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f7;
}
#page13 > h1 > span {
  color: black;
}
#page13 > h1 {
  width: 20%;
  top: 40%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 1.5vw;
  font-weight: 500;
  color: #86868b;
  z-index: 99;
  position: absolute;
}

#page14 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

#left14 {
  height: 90%;
  width: 45%;
  position: relative;
  background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_top__k3b8lzqd1l2m_large.jpg);
  background-size: cover;
}
#right14 {
  height: 90%;
  width: 45%;
  position: relative;
  background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_side__gm4agomrwl2e_large.jpg);
  background-size: cover;
}
#page15 {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-page15 {
  height: 90%;
  width: 95%;
  position: relative;
  overflow: hidden;
}

.center-page15 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page16 {
  position: relative;
  height: 180vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#page16 > p {
  position: absolute;
  width: 50%;
  color: #86868b;
  font-weight: 500;
  top: 5%;
  font-size: 20px;
}

.highlight {
  color: #000;
}

#page16 > img {
  width: 80%;
  position: absolute;
  bottom: 0%;
}

#page16 > button {
  position: absolute;
  bottom: 10%;
  width: 30%;
  padding: 10px 20px;

  border: none;
  background-color: #ff5a00;
  color: #fff;
  font-weight: 400;
  border-radius: 50px;
  font-size: larger;
  margin-top: 1.5vw;
  cursor: pointer;
}

#page17 {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #f5f5f7;
}

#page17 > h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

#page17 > h1 {
  font-size: 60px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 10px;
}

#page17 > p {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 20px;
  color: #86868b;
  width: 60%;
  text-align: center;
}

.highlight-page17 {
  color: #f5f5f7;
}

#page18 {
  position: relative;
  height: 100vh;
  width: 100vw;
  top: 0%;
  background-color: #000;
}

#page18 > canvas {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  background-color: #000;
}

#page19 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  height: 20vh;
  width: 100vw;
  background-color: #000;
}

#page19 > #center-page19 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f5f5f7;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#center-page19 > h1 {
  margin-bottom: 10px;

  font-size: 32px;
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: 0.004em;
}

#center-page19 > p {
  font-size: 21px;
  line-height: 1.381;
  font-weight: 500;
  letter-spacing: 0.011em;
  color: #86868b;
}

.highlight-page19 {
  color: #fff;
}

#page20 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

#page20 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#center-page20 {
  position: absolute;
  height: 60%;
  width: 30%;
  bottom: 15%;
  right: 10%;
}

#center-page20 > h1 {
  color: #fff;
  margin-bottom: 1.7vw;
}

#center-page20 > p {
  font-size: 20px;
  font-weight: 600;
  color: #86868b;
}
.highlight-page20 {
  color: #fff;
}


#page21{
  position: relative;
  height: 150vh;
  width: 100vw;
  background-color: #000;
}

#page21>#troff{
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 70%;
  z-index: 9;
}


#page21>#tron{
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 70%;
  
}
#page21 > #center-page21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f5f5f7;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#center-page21 > h1 {
  margin-bottom: 10px;

  font-size: 32px;
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: 0.004em;
}

#center-page21 > p {
  font-size: 21px;
  line-height: 1.381;
  font-weight: 500;
  letter-spacing: 0.011em;
  color: #86868b;
}

.highlight-page21 {
  color: #fff;
}















#page22{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

#page22>#snroff{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 50%;
  z-index: 9;
}
#page22>#snron{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 50%;
  
}
#page23{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}
#page23>img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}